@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  color: #606060;
  background-color: #5db7de; /* maybe FFC0CB?*/
}

* {
  margin: 0;
  padding: 0;
}

.results {
  margin-left: 11vw;
  margin-right: 11vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 60vw;
  height: 20vh;
  border-radius: 4vw;
  background-color: #fff0c9;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 10vh;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.resultstable {
  justify-content: center;
  background-color: #fff0c9;
  border-radius: 4vw;
  height: 40vh;
}
.resultsitem {
  font-size: 5vh;
  margin-top: 2vh;
}
.container {
  display: grid;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
